<?xml version="1.0" encoding="UTF-8" ?>
<!--For all properties see: http://developer.android.com/guide/topics/resources/menu-resource.html-->
<menu xmlns:android="http://schemas.android.com/apk/res/android"
      xmlns:app="http://schemas.android.com/apk/res-auto">

  <group android:id="@+id/grp1" android:checkableBehavior="single" >
  <!--Update strings and icons-->
  <item android:id="@+id/action_edit"
	      android:title="Notifications"
        android:icon="@drawable/ic_message_48dp"
	      />
  </group>

  <group android:id="@+id/grp2" android:checkableBehavior="single" >
  <item android:id="@+id/action_save"
         android:title="service@frugal.com"
        android:icon="@drawable/ic_message_48dp"/>

  <item android:id="@+id/phone_num"
       android:title="(977) 135-9090"
        android:icon="@drawable/ic_phone_48dp"/>

  <item android:id="@+id/feedback"
       android:title="App feedback"
        android:icon="@drawable/ic_plane_48dp"/>
  </group>


  <group android:id="@+id/grp3" android:checkableBehavior="single" >
    <!--Update strings and icons-->
    <item android:id="@+id/policy"
          android:title="Privacy Policy"
          android:icon="@drawable/ic_lock_48dp"
	      />
    <item android:id="@+id/terms"
      android:title="Terms Of Service"
      android:icon="@drawable/ic_document_48dp"
	      />
  </group>
</menu>

<!-- Code to implement into Activity:

public override bool OnCreateOptionsMenu(IMenu menu)
{
  //change main_compat_menu
	MenuInflater.Inflate(Resource.Menu.menu, menu);
	return base.OnCreateOptionsMenu(menu);
}


public override bool OnOptionsItemSelected(IMenuItem item)
{
	switch (item.ItemId) {
	case Resource.Id.action_edit:
		Toast.MakeText (this, "You pressed edit action!", ToastLength.Short).Show ();
		break;
	case Resource.Id.action_save:
		Toast.MakeText (this, "You pressed save action!", ToastLength.Short).Show ();
		break;
	}
	return base.OnOptionsItemSelected(item);
}

-->